name: Publish to PyPI

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: |
          pip install build twine
          python -m build
          twine upload dist/* \
            -u __token__ \
            -p ${{ secrets.PYPI_API_TOKEN }}
